

#contenedor{
    border-style: solid;
    border-color: black;
    border-width: 3px;
    margin: 0 auto;
    margin-top: 50px;
    height: 600px;
    width: 400px;
    background-color: black;
}

#resultado{
    height: 200px;
    width: 100%;
    color: white;
    text-align: right;
    font-size: 60px;
}

#resultado_numerico{
    position: relative;
    top: 50%;
    padding-right: 30px;
}

#botones{
    height: 394px;
    width: 100%;
}

.contenedor_boton{
    height: 19%;
    width: 24.15%;
    display: inline-block;
}

#contenedor0{
    width: 49.35%;
}

.contenedor_boton>div{
    padding: 0 auto;
    padding-top: 12%;
    font-size: 30px;
    text-align: center;
    margin-top: 5px;
    height: 95%;
    width: 80%;
    background-color: #3a3a3a;
    margin: 0 auto;
    border-radius: 50%;
    color: white;
}

.contenedor_boton>div:active {
    transform: scale(1.1);
}

#contenedor0>div{
    padding-top: 5%;
    width: 85%;
    border-radius: 45%;
}

#botonAC, #boton_mm, #boton_per{
    background-color: #D4D4D2;
    color: #1c1c1c;
}

#boton_div, #boton_prod, #boton_res, #boton_sum, #boton_equal{
    background-color: #FF9600;
    padding-top: 0%;
    font-size: 40px;
}
